//custom btn colors
$white: #FFFFFF;
$black: #000000;
$grey_100: #FAFAFA;
$grey_200: #EDEFF4;
$grey_300: #E5E5E5;
$grey_400: #C7C7C7;
$grey_500: #888888;
$dark_grey: #333333;
$red: #FF2C4F;
$green: #3DC629;
$yellow: #FFBE3F;
$rare_red: #FF264A;
$grad_start: #FF5245;
$gradp_stop: #FF2C4E;

$primary-color:	#FFFFFF;
$secondary-color: #01050A;
$custom-color: $gradp_stop;
$placeholder: #A5A5A5;

$font-roboto: 'Roboto', sans-serif;
$font-lato: 'Lato';
$font-montserrat: 'Montserrat', sans-serif;
$font-varela: 'Varela Round', sans-serif;
$font-poppins: 'Poppins';
$font-default: $font-poppins;
$font-special: $font-roboto;

$body-font: $font-default;

$primary: $primary-color !default;
$secondary: $secondary-color !default;



